/* ProductList.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8ecec;
    color: #333;
}

h1 {
    text-align: center;
    color: #a22;
    margin: 20px 0;
}

button {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: #e74c3c; /* Vermilion */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b; /* Darker Vermilion */
}

.store-section {
    margin: 20px auto;
    max-width: 1100px;
}

.store-section:nth-child(odd) {
    background-color: rgb(200, 189, 189);
}

h2 {
    text-align: center;
    color: #555;
    padding: 10px;
    margin-bottom: 15px;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.product-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    flex-basis: calc(20% - 20px);
    text-align: center;
    background-color: white;
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .product-item {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product-item {
        flex-basis: calc(100% - 20px);
    }
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    color: #666;
}

a {
    color: #e74c3c; /* Vermilion */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
